  table tbody td,
  table tbody th {
    border: 2px solid #ddd;
  }
/* 
  .table-width {
    width: 700% !important;
    margin-left: -400px !important;
  } */

  .accordion_card {
    border: 1px solid rgb(204, 204, 204);
    margin: 1rem 0;
    border-radius: 10px;
    background-color: #FCFCFC !important;
  }

  .faq-heading {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  li::marker {
    font-size: 2em;
  }

  #cards {
    margin-top: -50px !important;
    margin-bottom: -50px !important;
  }

  .gradient-bg {
    background: linear-gradient(90deg, rgb(53, 143, 247) 45%, rgba(255, 255, 255, 1) 100%);
    margin-left: 50px;
  }

  .swiper-container {
    padding: 20px 0;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    .cards-width {
      width: 80% !important;
    }
  }

  @media (max-width: 568px) {
    table {
      width: 80%;
      font-size: 0.6rem;
    }

    th,
    td {
      padding: 0.4rem;
    }

    .banner {
      font-size: 2rem !important;
      max-width: 100% !important;
      margin-top: -40px !important;
      margin-bottom: 30px !important;
    }

    .left {
      margin-left: 20px !important;
    }

    .para {
      max-width: 100% !important;
    }

    .mobile-width {
      margin-top: -50px !important;
    }

    .line {
      max-width: 90% !important;
      margin: 0 auto !important;
    }

    .width {
      width: 90% !important;
    }

    h1 {
      text-align: center !important;
      max-width: 60% !important;
      margin: 0 auto !important;
    }

    .fs-5 {
      text-align: center;
    }

    .image {
      max-width: 80% !important;
    }

    section {
      margin-top: -40px !important;
      margin-bottom: -40px !important;
    }

    .faq-heading {
      font-size: 14px !important;
    }

    .oder {
      order: 1;
    }

    .order {
      order: 2;
    }

    .image-section img {
      display: block;
      max-width: 90% !important; 
      height: auto; 
      margin: 0 auto !important;
    }

    .text2 {
      margin: 0 auto !important;
      text-align: center !important;
    }

  }


  @media (min-width: 768px) and (max-width: 992px) {

    h1 {
      text-align: center !important;
    }

    .fs-5 {
      text-align: center;
    }

    .hero-form {
      width: 70% !important;
      text-align: center;
      margin: 0 auto;
    }

    .banner {
      font-size: 2rem !important;
      max-width: 100% !important;
    }

    .margin {
      max-width: 100% !important;
      margin: 0 auto !important;
    }

  .order,
  .oder {
    width: 100% !important; 
  }

    .row.h-100 {
      flex-direction: column !important;
    }
  
    .order {
      order: 2;
    }
  
    .oder {
      order: 1;
    }
  
    .oder h2 {
      text-align: center;
      margin: 0 auto !important;
      margin-top: -80px !important;
      margin-bottom: 30px !important;
    }

    .text-section,
  .image-section {
    width: 100%; 
  }

  .text-section {
    text-align: center; 
    margin-bottom: 20px; 
  }

  .image-section {
    text-align: center; 
  }

  .image-section img {
    max-width: 100%; 
    height: auto; 
  }
    
  .para-width {
    max-width: 100% !important;
  }

  }

  @media (min-width: 768px) and (max-width: 991px) {
    .box1, .box2 {
      flex: 1 1 100% !important;
      max-width: 80% !important;
      margin: 0 auto !important;
    }
  
    .box1 h2 {
      font-size: 1.5rem; 
    }
  
    .box1 p {
      font-size: 1rem; 
    }
  
    .box2 ul {
      padding: 1rem; 
      font-size: 1rem; 
    }

    .text-content {
      margin-bottom: 2rem;
    }

    .textwidth {
      max-width: 100% !important;
    }
  }
  
  @media (max-width: 768px) {
    .cards-width {
      width: 80% !important;
    }
  
    .orderr {
      order: 2;
    }
  
    .ordeer {
      order: 1;
    }
  
    .butoon {
      width: 50% !important;
    }

    .margin {
      width: 90% !important;
      margin: 0 auto !important;
    }

    .margan {
      margin-top: -50px !important;
    }

    .margan2 {
      margin-top: 0px !important;
      margin-bottom: 10px !important;
    }

    .ord {
      order: 2;
    }

    .orde {
      order: 1;
    }

    .buton {
      margin-bottom: 40px !important ;
      margin-top: -10px !important;
    }

    .mob-img {

      margin-top: 10px !important;

    }
  }

  .margan {
    margin-bottom: -20px !important;
  }