.accordion_card {
  border: 1px solid rgb(204, 204, 204);
  margin: 1rem 0;
  border-radius: 10px;
  background-color: #FCFCFC !important;
}

.step {
  position: relative;
}

.step:not(:last-child) .line {
  content: '';
  position: absolute;
  top: 25px;
  left: 50%;
  width: 50px;
  height: 2px;
  background-color: #007bff;
  z-index: -1;
}

@media (max-width: 768px) {

  h2,
  h1,
  h5 {
    font-size: 20px;
    width: 100% !important;
  }

  .width {
    max-width: 100% !important;
  }
}


/* Mobile styles */
@media (max-width: 568px) {
  .step {
    margin: 0 10px !important;
  }

  .line {
    width: 30px !important;
  }

  .line1 {
    width: 60px !important;
  }

  .align {
    font-size: small !important;
  }

  .margin {
    margin-top: -50px !important;
  }

  .widthh {
    max-width: 100% !important;
  }

  .truck-image {
    display: block;
    width: 80% !important;
    margin: 0 auto !important;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 992px) {
  .line {
    width: 190px !important;
    margin-left: 2px !important;
  }

  .line1 {
    width: 195px !important;
  }

  .icon_text {
    width: 100% !important;
    white-space: nowrap !important;
  }

  .center {
    align-items: center !important;
    justify-content: center !important;
  }

  .text {
    order: 1;
  }

  .image {
    order: 3;
  }

  .margin {
    text-align: center;
    order: 2;
  }

  .margin .btns {
    width: 50%;
    margin: 5px auto;
  }

  h1 {
    text-align: center !important;
  }

  .fs-5 {
    text-align: center;
  }

  .hero-form {
    width: 70% !important;
    text-align: center;
    margin: 0 auto;
  }

}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
}

@media (max-width: 768px) {
  .background-image {
    background-image: url('./assets/Car shipping img/Container.png');
  }
}

@media (max-width: 568px) {

  .hero_section {
    max-height: 90vh !important;
  }

  .hero_content {
    max-width: 90%;
  }

  .text-md-start {
    margin-left: 20px !important;
  }

  .hero_title {
    font-size: 1.5rem !important;
    font-weight: bold !important;
  }

  .hero_bg {
    margin-top: -80px !important;
  }

  .hero_form {
    max-width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ship_hr {
    margin: 0 auto !important;
    margin-bottom: 10px !important;
  }

  .ship_btn {
    width: 40% !important;
  }

  .hero_section {
    max-height: 120vh !important;
  }

  .hero_content {
    max-width: 70%;
  }

  .text-md-start {
    margin-left: 0px !important;
  }

  .hero_title {
    font-size: 2rem !important;
    font-weight: bold !important;
  }

  .hero_bg {
    margin-top: -80px !important;
    max-width: 80%;
  }
}


/* Mobile styles */
@media (max-width: 568px) {
  .image {
    margin-bottom: 20px;
  }

  .text {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .width {
    max-width: 100% !important;
  }

  .margin {
    padding-top: 30px !important;
    width: 60% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .btns {
    margin-bottom: 10px !important;
  }

  .accordian {
    max-width: 100% !important;
  }

}


@media (min-width: 992px) {
  .img-lg-small {
    width: 80% !important;
    height: auto !important;
  }
}


#cards {
  margin-top: -50px !important;
  margin-bottom: -50px !important;
}

.gradient-bg {
  background: linear-gradient(
    90deg,
    rgb(53, 143, 247) 45%,
    rgba(255, 255, 255, 1) 100%
  );
  margin-left: 50px;
}

.swiper-container {
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .cards-width {
    width: 80% !important;
  }
}