  
    table tbody td,
    table tbody th {
      border: 2px solid #ddd;
    }

    .section {
      margin-top: -80px !important;
      margin-bottom: -50px !important;
    }

    .accordion_card {
    border: 1px solid rgb(204, 204, 204);
    margin: 1rem 0;
    border-radius: 10px;
    background-color: #FCFCFC !important;
  }

  .faq-heading {
    font-size: 20px !important;
    font-weight: 600 !important;
  }
  
 
#cards {
  margin-top: -50px !important;
  margin-bottom: -50px !important;
}

.gradient-bg {
  background: linear-gradient(90deg, rgb(53, 143, 247) 45%, rgba(255, 255, 255, 1) 100%);
  margin-left: 50px;
}

  
  .swiper-container {
    padding: 20px 0;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  @media (max-width: 568px) {

    h1 {
      text-align: center !important;
    }
  
    .fs-5 {
      text-align: center !important;
      max-width: 80% !important;
      margin: 0 auto !important;
    }

    .card2,
    .card3,
    .card4 {
      display: none !important;
    }
  
    .faq-heading {
      font-size: 14px !important;
    }
  
    .center {
      width: 90% !important;
      margin: 0 auto !important;
    }

    .card-width {
      width: 90% !important;
      margin: 0 auto !important;
    }
    
    .orderr {
      order: 1;
      margin-top: -40px !important;
    }

    .order {
      order: 2;
    }

    .parent {
      display: flex;
      justify-content: center; 
    }
    
    .buttun {
      margin-bottom: -5px !important;
    }

    .line {
      max-width: 100% !important;
    }
    
    .texttop {
      margin-top: -50px !important;
    }

    .maxwidth {
      max-width: 90% !important;
      margin: 0 auto !important;
    }

    .marginb {
      margin-bottom: 50px !important;
    }

    .no-scroll-table {
      table-layout: fixed !important; 
      width: 100% !important;
      font-size: 12px !important;
  }

  .no-scroll-table th,
  .no-scroll-table td {
      white-space: normal !important; 
      overflow: hidden !important; 
      text-overflow: ellipsis !important; 
      padding: 4px !important; 
  }

  .no-scroll-table thead th {
      font-size: 10px !important; 
  }

  .content-box {
    text-align: center; 
  }

  .title-heading {
    text-align: center !important;
    margin-top: -30px !important;
  }

  .button-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 50px !important;
  }

  .image-box {
    justify-content: center !important; 
  }

  .image-box img {
    width: 100%;
    margin-bottom: -60px !important;
  }

  .padding {
    margin-top: -40px !important;
  }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
  
    .card3,
    .card4 {
      display: none !important;
    }
  
  
    h1 {
      text-align: center !important;
    }
  
    .fs-5 {
      text-align: center !important;
      max-width: 80% !important;
      margin: 0 auto !important;
    }
  
    .hero-form {
      width: 70% !important;
      text-align: center;
      margin: 0 auto;
    }
  
    .box {
      display: block; 
      width: 100%; 
      text-align: center !important;

  }

  .orde {
      order: 2; 
  }

  .ord {
      order: 1; 
  }

  .box img {
      max-width: 80%; 
      margin: 0 auto;
  }

  .box h2, .box p {
      padding: 10px 15px; 
      margin-top: -20px !important;

  }

  h2 {
    text-align: left !important;
  }

  .para {
    max-width: 100% !important;
  }

  .col-md-5 {
    width: 90% !important;
    margin-left: 70px !important;
  }
  
  .col-md-7 {
    max-width: 80% !important;
    margin: 0 auto !important;
  }
  }